@model PostViewModel

@{
    ViewBag.Title = "Add New Post";
}

<h2>Add New Post</h2>

<form asp-action="AddPost" method="post">
    <div class="form-group">
        DEnemedean bilemezsin
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" placeholder="Enter post title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control" placeholder="Enter post content"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId">Select Category</label>
        <select asp-for="CategoryId" class="form-control">
            <option value="">Select Category</option>
            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category.Id">@category.CategoryName</option>
            }
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AuthorId">Select Author</label>
        <select asp-for="AuthorId" class="form-control">
            <option value="">Select Author</option>
            @if (ViewBag.Authors != null)
            {
                @foreach (var author in ViewBag.Authors)
                {
                    <option value="@author.Id">@author.UserName</option>
                }
            }
            else
            {
                <option disabled>Author listesi yüklenemedi. Lütfen daha sonra tekrar deneyin.</option>
            }
        </select>
        <span asp-validation-for="AuthorId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PostImageURL">Image URL</label>
        <input asp-for="PostImageURL" class="form-control" placeholder="Enter image URL" />
        <span asp-validation-for="PostImageURL" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add Post</button>
    <a href="@Url.Action("Posts", "Admin")" class="btn btn-secondary">Back to Posts</a>
</form>
