@using System.Security.Claims;

@model PostViewModel

@{
    ViewBag.Title = "Add New Post";
    var loggedInUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var loggedInUserName = User.Identity.Name;
}

<h2>Add New Post</h2>

<form asp-action="AddPost" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" placeholder="Enter post title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control" placeholder="Enter post content"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId">Select Category</label>
        <select asp-for="CategoryId" class="form-control">
            <option value="">Select Category</option>
            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category.Id">@category.CategoryName</option>
            }
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <!-- Giriş yapan kullanıcıyı Author olarak ayarlayın -->
    <input type="hidden" asp-for="AuthorId" value="@loggedInUserId" />
    <div class="form-group">
        <label>Author</label>
        <input type="text" class="form-control" value="@loggedInUserName" readonly />
    </div>

    <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-camera fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
            <input asp-for="ImageFile" class="form-control-file" type="file" />
            <label class="form-label">Post Image (Not Required)</label>
            <span asp-validation-for="PostImageURL" class="text-danger"></span>
        </div>
    </div>


    <button type="submit" class="btn btn-primary">Add Post</button>
    <a href="@Url.Action("Posts", "Admin")" class="btn btn-secondary">Back to Posts</a>
</form>
