@model IEnumerable<Blog.Entities.Models.Concrete.Category>

@{
    ViewBag.Title = "Categories";

}

<h2>Categories</h2>

<a href="@Url.Action("AddCategory", "Admin")" class="btn btn-primary mb-3">Add New Category</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Create Date</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryName</td>
                <td>@category.CreateDate</td>
                <td>
                    <a href="@Url.Action("UpdateCategory", "Admin", new { id = category.Id })" class="btn btn-primary">Edit</a>
                    <form asp-action="DeleteCategory" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@category.Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
